*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #444;
}

.head{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.containar{
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    grid-template-columns: 15% 15% 15% 15% 15%;
    grid-template-rows: 50px 50px 50px 50px 50px;
    gap: 20px;
    padding-top: 50px;
}

.containar .project{
    border-radius: 50px;
    border: 2px solid #fff;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

.containar .project:hover{
    background-color: #000;
}